@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #ffffff;
    --bg-url: url(../assets/img/Interface=Mobile\,\ Theme=Dark\ mode.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.1);
    --surface-color-hover: rgba(255, 255, 255, 0.05);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(../assets/img/moon.svg)
}

.light {
    --text-color: #000000;
    --bg-url: url(../assets/img/Interface=Mobile\,\ Theme=Light\ mode.jpg);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(0, 0, 0, 0.1);
    --switch-bg-url: url(../assets/img/sun.svg)
}

html, body {
    font-size: 62.5%;
}

body {
    /* background: color image repeat position/size */
    background: var(--bg-url) no-repeat top center/cover;
    height: 100vh;
}

body * {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}

/* profile */
#container {
    width: 100%;
    max-width: 588px;
    margin: 5.5rem auto 0rem;
    padding: 0 2.4rem;
}

#profile {
    text-align: center;
    padding: 2.4rem;
}

#profile img {
    width: 112px;
}

#profile p {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
    margin-top: 0.8rem;
}

/* switch */
#switch {
    position: relative;
    width: 6.4rem;

    margin: 0.4rem auto;
}

#switch button {
    width: 3.2rem;
    height: 3.2rem;
    background: #ffffff var(--switch-bg-url) no-repeat center;
    border: 0;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);

    animation: slide-back 0.3s;
}

.light #switch button {
    animation: slide-go 0.3s forwards; /* ele mantem o botão na posição em que ele esta */
}

#switch button:hover {
    box-shadow: 0px 2px 8px var(--highlight-color);
}

#switch span {
    display: block;
    width: 6.4rem;
    height: 2.4rem;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}

/* lista - links */
ul {
    list-style: none;
    font-size: 1.6rem;

    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    padding: 2.4rem 0;
}

ul li a{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1.6rem 2.4rem;

    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 0.8rem;
    backdrop-filter: blur(0.4rem);
    -webkit-backdrop-filter: blur(0.4rem);

    text-decoration: none;
    font-weight: 500;

    transition: background 0.4s;
}

ul li a:hover {
    background: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
}

/* email */
.email {
    display: flex;
    gap: 1.6rem;
    align-items: center;
    justify-content: center;
    
    font-size: 2.8rem;
    
    margin: 2rem 0;
    padding: 0.4rem;
    border-radius: 1rem;
    
    transition: background 0.5s;
}

.email a {
    display: flex;
}

.email p {
    font-size: 1.2rem;
}

.email:hover {
    cursor: default;
    background: var(--highlight-color);
}

/* footer */
footer {
    padding: 2.4rem 0;
    text-align: center;
    font-size: 1.2rem;
}

/* animations */
@keyframes slide-go {
    from {
        left: 0;
    }
    to {
        left: 50%;
    }
}

@keyframes slide-back {
    from {
        left: 50%;
    }
    to {
        left: 0;
    }
}